@charset "UTF-8";
*{
    margin-top: 20px;
}
fieldset{
    width: 70%;
    margin-left: 28%;
    border-radius: 5px;
}
.add_btn{
    background: greenyellow;
    border-radius: 5px;
}
table{
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
}
td{
    padding: 4px 15px;
}
#mask{
    position: fixed;
    left: 60px;
    top: 10px;
    width: 300px;
    display: none;
}
.add-edit-btn{
    margin-right: 30px;
    background: greenyellow;
    border-radius: 5px;
    line-height: 25px;
    padding: 0 10px;
}